{% extends "base.html"%}

{% block title %} TrackerWon {% endblock %}
{% block content_name %}
            <th scope="col">ID</th>
            <th scope="col">Постер</th>
            <th scope="col">Название</th>
            <th scope="col">Категория</th>
            <th scope="col">Дата загрузки</th>
{% endblock %}
{% block content %}
        {% for item in file %}
        <tr>
            <th scope="row">{{ item.pk }}</th>
            {% if item.photo %}
                <td><img src="{{ item.photo.url }}" alt="connect" width="50"></td>
            {% else %}
                <td><img src="https://picsum.photos/id/1060/200/300/?blur=2" alt="connect" width="50"></td>
            {% endif %}
            <td>{{ item.title }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.date_published }}</td>
        </tr>
        {% endfor %}
{% endblock %}
